<p id="notice"><%= notice %></p>

<p>
  <h1>
    <%= image_tag @article.image %>
    <%= @article.name %>
  </h1>
</p>

<p>
  <%= @article.body %>
</p>

<p>
</p>

<% unless @children.empty? %>
<div id="article-children">
  <h2>You might also like...</h2>
  <%= render partial: @article.children, locals: {in_edit: false} %>
</div>
<% end %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
